<div class="container">
    <div class="frame">
        <div id="output" class="output">
            <p id="output-line-main" class="output-line">0</p>
            @for (i of history; track i) {
            <p class="output-line">{{i}}</p>

            }

        </div>
        <div class="input">
            <div class="input-row">
                <button id="C" class="key">C</button>
                <button id="X" class="key">X</button>
                <button id="%" class="key">%</button>
                <button id="/" class="key">/</button>
            </div>
            <div class="input-row">
                <button id="7" class="key">7</button>
                <button id="8" class="key">8</button>
                <button id="9" class="key">9</button>
                <button id="*" class="key">*</button>
            </div>
            <div class="input-row">
                <button id="4" class="key">4</button>
                <button id="5" class="key">5</button>
                <button id="6" class="key">6</button>
                <button id="-" class="key">-</button>
            </div>
            <div class="input-row">
                <button id="1" class="key">1</button>
                <button id="2" class="key">2</button>
                <button id="3" class="key">3</button>
                <button id="+" class="key">+</button>
            </div>
            <div class="input-row">
                <button id="0" class="key special-key ">0</button>
                <!-- <button id="0" class="key">0</button> -->
                <button id="." class="key">.</button>
                <button (click)="equalsButtonClick()" id="=" class="key">=</button>
            </div>
        </div>
    </div>
</div>