.container {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  transform: rotateX(10deg);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.frame {
  width: 470px;
  height: 470px;
  border-radius: 20px;
  position: relative;
}

@media (max-width: 500px) {
  .frame {
    width: 370px;
    height: 370px;
  }

}

@media (max-width: 430px) {
  .frame {
    width: 320px;
    height: 320px;
  }

}

.output {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: black;
  transform: rotate(180deg);
  overflow-y: scroll;
}

.output-line {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  height: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: rgb(230, 230, 230);
  overflow-x: hidden;
  transform: rotate(180deg);
}

#output-line-main {
  font-weight: bold;
  font-size: 30px;
}

.input {
  margin-top: 40%;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60%;
}

.input-row {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.key {
  border: none;
  height: 100%;
  width: 25%;
  display: grid;
  place-items: center;
  background-color: rgb(235, 235, 235);

}

.key:hover {
  background-color: rgba(235, 235, 235, 0.4);

}

.special-key {
  width: 50%;
  background-color: rgb(235, 235, 235);
}